<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.60.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SkiaSharp.Views.Forms" version="1.60.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2017.3.1018.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>